.b-continue-page{
    background-image: url('../img/continue__bg.jpg');
}
.b-continue{
	margin-top: -50px;
}
.continue__heading {
	padding-right: 20px;
	padding-top: 25px;
}

.continue__select {
    background-image: url('../img/continue__select.png');
	background-repeat: no-repeat;
	height: 90px;
	width: 260px;
}

.continue__select > select {
	background-color: transparent;
	border: none;
	width: 180px;
	height: 40px;
	color: #fff;
	outline: none;
	font-family: 'victoriana';
	font-size: 2em;
	padding-bottom: 10px;
	margin-top: 25px;
}
.continue__select > select:focus option{
	color: #000;
}
.continue__select > select > option {
}

.continue__select-icon {
	width: 48px;
	height: 48px;
	position: relative;
	top: 17px;
	left: 22px;
	margin-right: 25px;
}

.b-continue {
	margin-top: -75px;
}

.b-continue__info {
	background-image: url('../img/continue__content.png');
	background-repeat: no-repeat;
    background-position: 90% 0%;
    padding: 120px 50px 135px 80px;
}

.continue__away-button {
    float: right;
    width: 165px;
    text-align: center;
    line-height: 45px;
    height: 40px;
    font-size: 1.8em;
}

.b-continue__article {
    padding-left: 30px;
}

.continue__img {
    float: left;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-left: -30px;
}

.continue__name {
    text-align: left;
    display: inline-block;
    margin-left: -30px;
    padding-bottom: 10px;
}
.continue__text {
	color: #651268;
	font-size: 1.6em;
	line-height: 1.4em;
	padding: 5px 0;
}

.continue__text > br {
}

.continue__title {
	font-family: 'victoriana';
    position: relative;
    font-size: 1.9em;
    padding-top: 10px;
    color: #000;
}

.continue__icon {
    position: absolute;
    left: -35px;
    text-align: left;
}

.b-continue__book {
	background-image: url('../img/continue__book.png');
	background-repeat: no-repeat;
    padding: 45px 130px 135px 165px;
    background-position: -35% 0%;
    margin-top: -120px;
    margin-bottom: 200px;
    height: 600px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.b-continue__book {
}

.b-continue__left-page {
    width: 320px;
}

.b-continue__left-page > h3 {
    text-align: center;
    padding-bottom: 10px;
}


.b-continue__story-wrap {
	height: 340px;
	overflow-y: scroll;
}

.b-continue__book p {
	font-size: 1.6em;
	padding: 10px 0;
}
.continue__story--center{
	text-align: center;
}
.continue__write-button {
	text-decoration: none;
	font-family: 'victoriana';
	display: block;
	width: 215px;
	line-height: 25px;
	height: 65px;
	padding-top: 15px;
	font-size: 2.2em;
	color: #fff;
	text-align: center;
	background-image: url('../img/books__write.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
		-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin: 5px auto 0;
}
.continue__write-button:hover{
		-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}

.b-continue__right-page {
    width: 320px;
}

.b-continue__right-page > h3 {
    text-align: center;
    padding-bottom: 10px;
}

.b-continue__overlay-page {
    text-align: center;
    width: 400px;
    height: 550px;
    background-image: url('../img/continue__book-overlay.png');
    margin-top: -82px;
    margin-left: -40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
	color: #fff;
    padding: 130px 40px 0;

}

.b-continue__overlay-page > h4 {
	color: #fff;
	line-height: 1.2em;
}

.b-continue__overlay-page > h6 {
}

.continue__overlay-button {
	width: 185px;
	height: 40px;
	text-decoration: none;
	font-family: 'victoriana';
	display: block;
	font-size: 2.2em;
	color: #fff;
	text-align: center;
	background-image: url('../img/continue__register.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
		-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin: 20px auto;
	line-height: 1.6;
}
.continue__overlay-button:hover {
			-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.continue__overlay-button--light {
	background-image: url('../img/continue__login.png');

}