footer{
	background-image: url('../img/footer-bg.png');
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	         box-sizing: border-box;
	         padding: 20px 50px; 
	         height: 110px;
}
.footer__link{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Victoriana';
	font-size: 2.5em;
}
.footer__link:hover{
	text-decoration: underline;
}
.footer__copy{
	font-weight: normal;
	padding-top: 35px;
	font-family: 'Victoriana';
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
}
.footer__copy--white{
	color: #fff;
}