.b-top{
	margin-top: -60px;
	z-index: 80;
    position: relative;
}
.b-thumbs{
	width: 715px;
	margin: 20px auto;
}
.thumbs__item{
	cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.thumbs__item:hover{
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.b-carousel{
	position: relative;
}
.b-carousel__wrap{
	width: 940px;
	overflow: hidden;
	margin: 0 auto;
	height: 600px;
}
.b-dolls{
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.b-dolls__item{
	display: inline-block;
	margin-right: 50px;
	width: 280px;
	float: left;
	text-align: center;
		cursor: pointer;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.b-dolls__item:last-child{
	margin-right: 0;
}
.b-dolls__story{
	width: 280px;
	height: 200px;
	background-image: url('../img/story.png');
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: -50px;
	position: relative;
	z-index: 25;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        padding: 50px 40px;

}
.dolls__text{
	font-size: 1.4em;
	line-height: 1.4;
}
.dolls__button{
	font-size: 1.8em;
	margin-top: 10px;
	padding: 15px 15px 8px;
}
.dolls__link{
	color: #236ecb;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.dolls__link:hover{
	color: #d31145;
}
.carousel__button{
	width: 50px;
	height: 50px;
	top: 50%;
	position: absolute;
	background-repeat: no-repeat;
	z-index: 90;
	background-position: center center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}
.carousel__button--left{
	left: -30px;
	background-image: url('../img/left.png');
}
.carousel__button--right{
	right: -30px;
	background-image: url('../img/right.png');
}
.carousel__button--left:hover{
	background-image: url('../img/left-hover.png');
}
.carousel__button--right:hover{
	background-image: url('../img/right-hover.png');
}
.b-bottom{
}
.b-slider__wrap,.b-conditions{
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        width: 640px;
}
.b-slider__wrap{
	overflow: hidden;
	padding: 45px 50px;
	height: 310px;
}
.b-slider__overlay{
	overflow: hidden;
	position: relative;
}
.b-slider__wrap::after{
	content:'';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-image: url('../img/slider-wrap.png');
}
.b-slider{
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.b-slider__control{
	position: absolute;
	bottom: 56px;
	right: 56px;
	z-index: 50;
}
.b-slider__item{
	display: inline-block;
	float: left;
}
.slider__button{
	width: 13px;
	height: 13px;
	cursor: pointer;
	margin-right: 6px;
	border-radius: 50%;
	background-color: #000;
	background-image: none;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.slider__button--active,.slider__button:hover{
	background-image:url('../img/slider-active-button.png');

}
.b-promo{
	width: 360px;
	padding-top: 65px;
	text-align: center;
	background-image:url('../img/promo-wrap.png');
	background-repeat: no-repeat;
	height: 285px;
}
.promo__card{
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.promo__card:hover{
		-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.b-conditions{
	width: 640px;
	height: 380px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	background-image:url('../img/conditions-wrap.png');
	background-position: center top;
	background-repeat: no-repeat;
	padding: 25px 65px;
}
.conditions__heading{
	color: #e9395d;
	text-align: center;
}
.conditions__title{
	color: #e20041;
	margin-bottom: 5px;
}
.conditions__title--purple{
	color: #691167;
}
.b-conditions__item--first{
	padding: 30px 0px 5px 15px;
}
.b-conditions__item article{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 35px;

}
.b-conditions__item article ol{
	padding-left: 20px;
}
.b-conditions__item--first img{	
	float: left;	
}
.b-conditions__item--first article{
	margin-top: 10px;
	margin-left: 75px;
	background-image: url('../img/condition-bubble1.png');
}
.b-conditions__item--second img{
	margin-top: 15px;	
	float: right;	
}
.b-conditions__item--second article{
	padding-top: 15px;
	margin-right: 75px;
	background-image: url('../img/condition-bubble2.png');
}
.conditions__text{
	font-size: 1.4em;
	line-height: 1.4;
}
.b-conditions__buttons-wrap{
	padding-top: 5px;
	padding-left: 30px;
	padding-right: 10px;
}
.conditions__button{
	padding: 15px 25px 7px 25px;
	font-size: 1.8em;
}
.b-leaders{
	width: 360px;
	position: relative;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url('../img/leaders.png');
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.leaders__heading{
	text-align: center;
	padding-top: 5px;
	color: #fff;
}
.b-leaders__list-wrap{
	width: 230px;
	height: 215px;
	overflow: hidden;

	margin-left: 70px;
	margin-top: 20px;
}
.b-leaders__list{
	position: relative;
	top: 0px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.leaders__img{
	float: left;
	margin-right: 5px;
}
.b-leaders__item{
	overflow: hidden;
}
.leaders__name{
	color: #691167;
}
.leaders__label{
	font-family: 'Victoriana';
	font-size: 2em;
}
.leaders__author{
	font-size: 1.4em;
	cursor: pointer;
	color: #236ecb;
}
.leaders__author:hover{
	text-decoration: underline;
}
.b-rating{
	padding-top: 5px;
}
.rating__star{
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url('../img/star.png');
}
.rating__star--rated{
	background-image: url('../img/star-rated.png');
}
.b-leaders__control{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	width: 40px;
	height: 120px;
	position: absolute;
	top: 90px;
	right: 30px;
}
.b-leaders__button{
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
	background-repeat:no-repeat;
	background-position: center center; 
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.b-leaders__button--up{
	margin-bottom: 40px;
	background-image: url('../img/up.png');
}
.b-leaders__button--up:hover{
	background-image: url('../img/up-hover.png');
}
.b-leaders__button--down{
	background-image: url('../img/down.png');
}
.b-leaders__button--down:hover{
	background-image: url('../img/down-hover.png');
}