.b-story-page {
    background-image: url('../img/story__bg.jpg');
}
.b-social-ribbon {
    position: absolute;
    z-index: 75;
    right: -2px;
    margin-top: -30px;
    width: 145px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url('../img/story__social-bg.png');
}
.social-ribbon__head {
    color: #fff;
    padding-top: 40px;
    box-sizing: border-box;
    font-size: 1.8em;
    padding-bottom: 0;
    line-height: 2em;
    padding-left: 16px;
}
.b-social-ribbon__links a {
    line-height: 30px
}
.b-social-ribbon__links {
    width: 110px;
    box-sizing: border-box;
    padding-left: 20px;
}
.b-story {
    height: 600px;
    background-image: url('../img/story__book.png');
    background-repeat: no-repeat;
    background-position: center top; 
}

.b-pages {
    padding: 40px 130px 0px 145px;
    height: 420px;
}

.b-story__left,.b-story__right {
    width: 340px;
}

.b-story__right {
}

.b-story__info {
    overflow: hidden;
}

.story__img {
    float: left;
    margin-right: 20px;
}

.story__head {
    padding-bottom: 15px;
}

.story__heading {
    font-size: 2.5em;
}

.story__heading--red {
    color: #dd3c55;
}

.story__heading--violet {
    color: #684789;
}

.story__date {
    font-weight: 600;
    font-size: 1.6em;
}

.story__author {
    font-size: 1.6em;
    color: #2998c1;
}

.story__text {
}

.story__text > p {
    font-size: 1.4em;
    line-height: 1.2em;
    padding: 5px 0;
}

.b-story__nav {
    padding: 32px 97px 10px 126px;
}

.story__page-button {
    width: 200px;
    font-size: 1.4em;
    color: #444;
    line-height: 40px;
    text-decoration: none;
    height: 50px;
    background-repeat: no-repeat;
}
.story__page-button:hover{
    color: #88116b;
}
.story__page-button--prev {
    text-align: right;
    background-position: bottom left;
    background-image: url('../img/story__prev-page.png');
}
.story__page-button--next {
    background-position: 100% -6px;
    background-image: url('../img/story__next-page.png');
}
.story__page-button--prev:hover {
    background-image: url('../img/story__prev-page-hover.png');
}
.story__page-button--next:hover {
    background-position: 100% -5px;
    background-image: url('../img/story__next-page-hover.png');
}

.story__page-num {
    display: block;
    padding-top: 10px;
    font-size: 1.4em;
}


.story__button {
    font-family: 'victoriana';
    display: block;
    height: 50px;
    width: 220px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 15px 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.story__button:hover{
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}
.story__button--prev {
    text-align: right;
    background-image: url('../img/story__prev-button.png')
}
.story__button--next {
    background-image: url('../img/story__next-button.png')
}

.b-books__write-ribbon {
}

.b-books__write-heading {
}

.books__write-button {
}
