#login, #register, #forgot{
    display: none;
    width: 675px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    padding: 0px; 
    background: #4a4a4a;
}
#login .left, #register .left, #forgot .left{
    width: 417px; 
    height: 400px; 
    background: #fff; 
    float: left; 
    padding-left: 35px;
    padding-top: 5px;
    font-size: 36px; 
    font-family: Victoriana;
}
#login .left p, #register .left p, #forgot .left p{
    margin-top: 30px;
}
#login .left p:first-child, #register .left p:first-child, #forgot .left p:first-child{
    color: #61116a;
}
#login .left p:last-child, #register .left p:last-child, #forgot .left p:last-child{
    color: #000;
}
#login .left form .input, #register .left form .input, #forgot .left form .input{
    width: 100%;
    margin-top: 10px;
}
#login .left form label, #register .left form label, #forgot .left form label{
    font-family: Victoriana;
    font-size: 26px;
    color: #000;
}
#login .left form input[type=text], #login .left form input[type=password], #register .left form input[type=text], #register .left form input[type=password], #register .left form input[type=email],
#forgot .left form input[type=email]{
    width: 180px;
    height: 39px;
    background: url(../img/input.png) no-repeat;
    padding-left: 20px;
    border: none;
    outline: none;
}
::-webkit-input-placeholder {
    font-family: AGSouvenirCyr;
    font-size: 14px;
    color: #000;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: AGSouvenirCyr;
    font-size: 14px;
    color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: AGSouvenirCyr;
    font-size: 14px;
    color: #000;  
}

:-ms-input-placeholder {  
    font-family: AGSouvenirCyr;
    font-size: 14px;
    color: #000;
}
#login .right, #register .right, #forgot .right{
    width: 223px;
    height: 405px; 
    background: url(../img/login-bg.png) no-repeat left; 
    float: left; 
    text-align: center;
}
#login .right div:first-child, #register .right div:first-child{
    width: 200px;
    margin: 35px auto 20px;
    font-size: 36px; 
    font-family: Victoriana;
    color: #fff;
}
#login .right input[type=button], #login .left form input[type=submit], #register .right input[type=button], #register .left form input[type=submit], #forgot .right input[type=button], #forgot .left form input[type=submit]{
    width: 140px; 
    height: 40px;
    background: url(../img/button-bg.png); 
    color: #fff;
    border: none;
    outline: none; 
    font-family: Victoriana;
    font-size: 28px; 
    text-transform: uppercase;
    cursor: pointer;
}
#login .right .forgot{
    width: 200px; 
    margin: 45px auto;
}
#login .right .forgot a{
    font-family: AGSouvenirCyr; 
    font-size: 24px; 
    color: #fff;
}
#login .bottom, #register .bottom, #forgot .bottom{
    clear: both;
    width: 675px;
    height: 65px;
    text-align: center;
    font-family: AGSouvenirCyr;
    font-size: 14px;
    background: #fff;
    color: #9b9b9b;
    padding-top: 20px;
    border-top: 2px solid #9b9b9b;
}
#login .bottom a, #register .bottom a, #forgot .bottom a{
    color: #6c1166;
}
#register .left {
    height: 755px;
}
#register .right{
    height: 760px;
    background-image: url(../img/reg-bg.png);
    background-position: 0 -5px;
}
#forgot .notification{
    width: 360px;
    margin-left: 12px;
    font-family: AGSouvenirCyr;
    font-size: 14px;
}
#forgot input[type=submit], #forgot input[type=button]{
    margin-top: 20px;
}
#forgot .right{
    height: 385px;
    padding-top: 20px;
}