*[class^="i-"]{
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
}
.i-search{
	background-image: url('../img/i-search.png');
}
.i-facebook{
	background-image: url('../img/i-facebook.png');
}
.i-twitter{
	background-image: url('../img/i-twitter.png');
}
.i-instagram{
	background-image: url('../img/i-instagram.png');
}
.i-scroll{
	background-image: url('../img/i-scroll.png');
}
.i-locked {
	width: 60px;
	height: 60px;
	background-image: url('../img/i-locked.png');
	margin-bottom: 10px;
}
.i-players {
	background-image: url('../img/i-players.png');
}
.i-level {
	background-image: url('../img/i-level.png');
}

.i-phone,.i-email ,.i-address  {
	margin-right: 5px;
	margin-bottom: 5px;
}
.i-phone {
	background-image: url('../img/i-phone.png');
}
.i-email {
	background-image: url('../img/i-email.png');
}

.i-address {
	background-image: url('../img/i-address.png');
}
.i-gift {
	width: 35px;
	height: 35px;
	background-image: url('../img/i-gift.png');
}
.i-contacts-phone{
	background-image: url('../img/i-contacts-phone.png');
}
.i-contacts-email{
	background-image: url('../img/i-contacts-email.png');
}
.i-contacts-address{
	background-image: url('../img/i-contacts-address.png');
}
.i-select-trigger{
	background-image: url('../img/i-select-trigger.png');
	position: absolute;
	height: 48px;
	width: 48px;
	right: 1px;
	top: 1px;
	background-color: #fff;
	cursor: pointer;
}