.steps{
	background-color: #061025;	
	padding-bottom: 100px;
}
.steps__list{
	width: 970px;
	margin: 50px auto;
}
.steps__item{
	width: 300px;
	text-align: center;
}
.steps__img{
	height: 190px;
}
.steps__item h5{
	color: #fff;
	margin: 10px 0;
	text-transform: uppercase;
	
}
.steps__separator{
	padding-top: 40px;
}
.steps__item p{
	width: 270px;
	font-size: 1.8em;
	color: #1c74c9;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 auto;
}
.inside{
	background-color: #081736;
}
.inside__list{
	padding-top: 30px;
	padding-bottom: 100px;
}
.inside__item{
	width: 47%;
	margin: 30px 0;
}
.inside__img{
	width: 150px;
	height: 150px;
	border: 1px solid #f1f1f3;
}
.inside__article{
	width: 300px;
}
.inside__article h5{
	color: #5193ff;
	font-size: 2.2em;
	line-height: 1.3;
	margin-bottom: 15px;
}
.inside__article p{
	color: #fff;
	font-size: 1.5em;
	line-height: 1.2;
}