.hero{
	height: 620px;
	background-image: url('../img/family-bg.jpg');	
	background-repeat: no-repeat;
	background-position: top center; 
	background-attachment: fixed;
	color: #0072bc;
}
.hero__container{
	height: 100%;
}
.hero__phones{
	width: 50%;
	height: 100%;
	position: relative;
	bottom: -60px;
}
.hero__phones img{
	display: block;
	position: absolute;
}
.hero__article{
	width: 45%;
}
.hero__article h1{
	padding: 10px 0;
}
.hero__article p{
	line-height: 1.2;
	font-weight: 300;
	padding: 30px 0;
	font-size: 1.8em;
}
.hero__buttons{
	margin-top: 20px;
}
.hero__download{
	width: 195px;
	display: inline-block;
	border-radius: 5px;
	margin-right: 40px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.hero__download img{
	vertical-align: middle;
}
.hero__download_apple{
	background-color: #004979;
}
.hero__download_play{
	background-color: #01579b;
}
.hero__download_play img{
	margin-top: 4px;
}
.hero__download_apple-light{
	background-color: #0072bc;
}
.hero__download_apple-light:hover{
	background-color: #00338b;
}
.hero__download_apple:hover{
	background-color: #002f4e;
}
.hero__download_play:hover{
	background-color: #001e5e;
}
#phone1{
	right: 200px;
	z-index: 5;
}
#phone2{
	right: 15px;
	top: 40px;
}
.parents__button{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	text-align: center;
	position: fixed;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	background-color: #39b54a;
	line-height: 1.4;
	font-size: 1.7em;
	font-weight: 400;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
}
.parents__button img{
	max-width: 40px;
	padding-bottom: 8px;
}
.parents__button_heading{
	font-weight: 400;
	display: block;
}
.parents__button:hover{
	background-color: #0d8015;
}
.guide{
	color: #fff;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: top center;
}
.guide__success{
	margin-top: 30px;
	overflow: hidden;
	background-color: #fff;
	padding: 40px;
}
.guide__success h3{
	font-size: 2.8em;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 20px;
}
.guide__success p{
	font-size: 1.8em;
	font-weight: 300;
	margin-bottom: 40px;
}
.guide__img{
	max-height: 400px;
	float: left;
	margin-right: 50px;
}
@media (max-width: 1200px) {
    .hero__download{
        margin: 20px;
        margin-top: 0;
    }
}
@media (max-width: 960px) {
    .hero__container{
    	justify-content: center;
    	text-align: center;
    	
    }
    .hero{
    	background-position: left center
    }
}
@media (max-width: 640px) {
	.hero__article{
		width: 100%;
	}
	.hero{
		height: auto;
		padding: 50px 0;
	}
}