.replies{
	height: 400px;
	background-image: url('../img/replies.png');
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 50px;
}
.reply__list{
	list-style: none;
}
.reply__item{
	height: 200px;
	width: 555px;
	background-color: #fff;
}
.reply__img{
	width: 175px;
	text-align: center;
}
.reply__img img{	
}
.reply__info h4{
	font-weight: 500;
	color: #494949;
}
.reply__info h6{
	margin-top: 5px;
	font-size: 1.6em;
	font-weight: 500;
	color: #999999;
	margin-bottom: 20px;
}
.reply__info p{
	font-size: 1.6em;
	line-height: 1.4;
}
.reply__info{
	width: 380px;
	padding-right: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.carousel__control{
	margin-top: 50px;
}
.carousel__button{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #fff;
	margin: 0 5px;
	cursor: pointer;
	opacity: 0.34;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}
.carousel__button.active,.carousel__button:hover{
	opacity: 1;
}
.carousel__wrap{
	overflow: hidden;
}
.carousel{
	position: relative;
	left: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
}
@media (max-width: 1200px) {
    .reply__item{
        width: 46%;
        height: auto;
        padding: 35px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
    }
    .reply__img{
    	margin: 0px auto 10px;
    }
    .reply__info{
    	padding: 0;
    }
    .replies{
		padding-bottom: 50px;
    	height: auto;
    }
}
@media (max-width: 640px) {
	.carousel__item{
		display: block;
	}
	.reply__item{
	}
	.reply__item,.reply__info {
		width: 100%;
	}
}