header{
	padding: 20px 0 25px 0;
	font-weight: 400;
    font-family: 'Roman', sans-serif;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    top: 0;
}
.header__logo,.header__button{
	top: 23px;
	position: absolute;
}
.header__logo{
	left: 0;
}
.header__logo img{
	max-width: 100%;
}
.header__button{
	right: 0;
	width: 200px;
	padding: 12px 0;
	margin-right: 30px;
}
.header__button:active{
	top: 24px;
}
.header__label{
	width: 100px;
	font-size: 1.6em;
}
.header__city{
	margin-bottom: 10px;
}
.header__phone{
	font-family: 'Medium', sans-serif;
	color: #ed0684;
	font-weight: 500;
	font-size: 1.8em;
}
.header__contacts{
}
.select select{
	width: 100%;
	border-bottom: 1px dashed #2b97dc;
	font-size: 1.8em;
	cursor: pointer;
	color: #2b97dc;
}
.select__trigger{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	height: 100% !important;
}
.select{
	cursor: pointer;
	position: relative;
	overflow: hidden;
	min-width: 140px
}
header nav{
	width: 555px;
}
header nav a{
	font-size: 1.6em;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	
}
header nav a:hover{
	color: #ed0684;
}
footer{
	margin-top: 50px;
	color: #959595;
	padding: 20px 0 35px 0;
	border-top: 2px solid #acadad;
}
@media (max-width: 1680px) {
	.header__logo,.header__button{
		position: relative;
		top: 0;
	}
	.header__button:active{
		top: 1px;
	}	
	header nav a,.header__phone,.select select,.header__label{
		font-size: 1.4em;
	}
	header nav{
		width: 480px;
	}
	.header__label{
		width: 80px;
	}
	.header__logo{
		width: 165px;
	}
	.header__button{
		margin-right: 0;
		width: 165px;
		font-size: 1.4em;
	}
}