i{
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center; 
}
i.down{
	width: 30px;
	position: absolute;
	height: 20px;
	background-image: url('../img/down.png');
	top: 35%;
	right: 4%;
}
i.up {
	width: 15px;
	height: 15px;
	background-image: url('../img/up.png');
}
i.fb,i.vk{
	width: 30px;
	height: 30px;
}
i.fb{
	background-image: url('../img/fb.png');
}
i.vk{
	background-image: url('../img/vk.png');
}
i.dropdown{
	top: 30%;
	right: 5%;
	width: 15px;
	height: 15px;
	position: absolute;
	background-image: url('../img/dropdown.png');
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}