.features{
	height: 1060px;
	background-image: url('../img/features.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 100px;
}
.features__phone{
	width: 380px;
	height: 760px;
	background-image: url('../img/features__phone.png');
	background-repeat: no-repeat;
	background-position: top left;
}
.slider{
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	list-style: none;
}
.slider__wrap{
	border: 1px solid #000;
	overflow: hidden;
	position: relative;
	left: 20px;
	top: 65px;
	height: 600px;
	width: 340px;
}
.slider__wrap_functions{
	border: 0;
	top: auto;
	left: auto;
	margin: 0 auto 10px;
	width: 250px;
	height: auto;
	max-width: 100%
}
.slider__wrap_functions img{
	max-width: 99% !important;
}
.slider__item img,.features__img img{
	max-width: 100%;
}
.features__img{
	width: 145px;
	text-align: center;
}
.features__item{
	height: 180px;
	width: 710px;
	background-color: #fff;
	margin-bottom: 20px;
}
.features__article{
	width: 500px;
	padding-right: 50px;
}
.features__title{
}
.features__article p{
	font-size: 1.6em;
	line-height: 1.4;
	margin: 15px 0;
}
.slider__control{
	list-style: none;
}
.slider__button{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #494949;
	display: inline-block;
	margin: 10px 5px;
	cursor: pointer;
	opacity: .34;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}
.slider__button:hover,.slider__button.active{
	opacity: 1;
}
@media (max-width: 1200px) {
    .features__list{
        margin: 0 auto;
    }
}
@media (max-width: 860px) {
	.features__item{
		width: 100%;
	}
	.features__img{
		width: 20%;
	}
	.features__article{
		width: 70%;
	}
}
@media (max-width: 640px) {
	.features{
		height: auto;
		padding: 30px 0;
	}
	.features__title{
		margin-bottom: 20px;
	}
	.features__item{
		display: block;
		text-align: center;
		height: auto;
		padding: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.features__img{
		display: inline-block;
	}
	.features__article{
		width: 90%;
		margin: 10px auto;
		padding: 0;
	}
}