footer{
		background-color: #0072bc;
		padding-top: 35px;
		color: #fff;
}
.footer__left{
	width: 270px;
}
.footer__right{
	width: 630px;
}
.footer__download{
	margin-top: 25px;
}
.footer__button{
	width: 115px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	border: 1px solid #fff;
	text-align: center;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}
.footer__button:hover{
	background-color: #0052a3;
}
.footer__button img{
	vertical-align: middle;
}
footer p {
	font-size: 1.4em;
	font-weight: 300;
	line-height: 1.4;
}
.footer__right p {
	text-align: right;
	margin-top: 30px;
}
footer nav a{
	font-size: 1.6em;
	text-transform: uppercase;
	
	padding: 10px;
	opacity: .6;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}
footer nav a:hover{
	opacity: 1;
}
footer nav a.active{
	opacity: 1;
	border-bottom: 2px solid #fff;
}
.footer__copy{
	margin-top: 60px;
	padding: 20px 0;
	background-color: #0052a3;
}
.footer__copy p{
	text-align: center;
}
@media (max-width: 1200px) {
	.footer__left{
		width: auto;
	}
	.footer__right{
		width: auto;
	}
}
@media (max-width: 860px) {
.footer__container,.footer__download,.footer__right p{
	display: block;
	text-align: center;
}
.footer__button{
	margin: 10px;
}
}
@media (max-width: 640px) {
	footer{
		padding-top: 0;
	}
	.footer__copy{
		margin-top: 0;
	}
}