header{
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	position: fixed;
	background-color: #fff;
	z-index: 10;
}
.header__logo{
}
.header__logo img{
	max-width: 100%;
}
.header__container{
	height: 100%;
}
header nav{
	height: 100%;
	width: 60%;
}
header nav a{
	padding: 30px;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: 500;
	color: #4d4d4d;
	opacity: .6;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
}
header nav a:hover{
	color: #0072bc;
	opacity: 1;
}
header nav a.active{
	color: #0072bc;
	opacity: 1;
}
header nav a.active:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: #0072bc;
}