.hero{
	height: 620px;
	background-image: url('../img/hero.jpg');	
	background-repeat: no-repeat;
	background-position: top center; 
	color: #fff;
}
.hero__container{
	height: 100%;
}
.hero__phones{
	width: 50%;
	height: 100%;
	position: relative;
	bottom: -60px;
}
.hero__phones img{
	display: block;
	position: absolute;
}
.hero__article{
	width: 45%;
}
.hero__article h1{
	padding: 10px 0;
}
.hero__article p{
	line-height: 1.2;
	font-weight: 100;
	padding: 30px 0;
	font-size: 1.8em;
}
.hero__buttons{
	margin-top: 20px;
}
.hero__download{
	width: 195px;
	display: inline-block;
	border-radius: 5px;
	margin-right: 40px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.hero__download img{
	vertical-align: middle;
}
.hero__download_apple{
	background-color: #004979;
}
.hero__download_play{
	background-color: #01579b;
}
.hero__download_play img{
	margin-top: 4px;
}
.hero__download_apple-light{
	background-color: #0072bc;
}
.hero__download_apple-light:hover{
	background-color: #00338b;
}
.hero__download_apple:hover{
	background-color: #002f4e;
}
.hero__download_play:hover{
	background-color: #001e5e;
}
#phone1{
	right: 200px;
	z-index: 5;
}
#phone2{
	right: 15px;
	top: 40px;
}
@media (max-width: 1200px) {
    .hero__download{
        margin: 20px;
        margin-top: 0;
    }
}
@media (max-width: 960px) {
    .hero__container{
    	justify-content: center;
    	text-align: center;
    	
    }
    .hero{
    	background-position: left center
    }
}
@media (max-width: 640px) {
	.hero__article{
		width: 100%;
	}
	.hero{
		height: auto;
		padding: 50px 0;
	}
}