.modals{
	display: none;
}
.modal {
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.modal_violet{
    background-color: #4a148c;
}
.modal__top{
	padding: 35px 0;
	background-image: url('../img/modal-top.jpg');	
}
.modal__top h2{
	margin-bottom: 20px;
}

.modal__top p {
    color: #fff;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.4;
}
.modal .contacts__form{
	padding: 20px 50px;
}
.modal__sum{
	font-size: 2.4em;
	background-color: #8e24aa;
	color: #fff;
	margin: 10px 0;
	padding: 10px 15px;
}

.modal_violet .contacts__form input[type="text"],
.modal_violet .contacts__form input[type="email"],
.modal_violet .contacts__form textarea{
    color: #ab47bc;
    border-color: #ab47bc;
}

.modal_violet .contacts__form label{
    color: #ab47bc;
}
.modal_violet .contacts__form input[type="text"]::-webkit-input-placeholder,
.modal_violet .contacts__form input[type="email"]::-webkit-input-placeholder,
.modal_violet .contacts__form textarea::-webkit-input-placeholder {
    color: #ab47bc;
    font-family: 'Roboto', sans-serif;
}

.modal_violet .contacts__form input[type="text"]:-moz-placeholder,
.modal_violet .contacts__form input[type="email"]:-moz-placeholder,
.modal_violet .contacts__form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #ab47bc;
    font-family: 'Roboto', sans-serif;
}

.modal_violet .contacts__form input[type="text"]::-moz-placeholder,
.modal_violet .contacts__form input[type="email"]::-moz-placeholder,
.modal_violet .contacts__form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #ab47bc;
    font-family: 'Roboto', sans-serif;
}

.modal_violet .contacts__form input[type="text"]:-ms-input-placeholder,
.modal_violet .contacts__form input[type="email"]:-ms-input-placeholder,
.modal_violet .contacts__form textarea:-ms-input-placeholder {
    color: #ab47bc;
    font-family: 'Roboto', sans-serif;
}
.modal_violet .contacts__form input[type="text"]:focus,
.modal_violet .contacts__form input[type="email"]:focus,
.modal_violet .contacts__form textarea:focus {
    border-color: #fff;
    color: #fff;
}
.modal_violet .contacts__form input[type="text"]:focus+label,
.modal_violet .contacts__form input[type="email"]:focus+label,
.modal_violet .contacts__form textarea:focus+label,
.modal__sum + label {
    color: #fff !important;
}
.fancybox-close{
	background-image: url('../img/modal-close.png');
	background-repeat: no-repeat;
	top: 15px;
	right: 15px;
	width: 30px;
	height: 30px;
}