.b-books-page{
	background-image: url('../img/books__bg.jpg');
}
.b-books__head {
	padding-left: 150px;
	padding-right: 30px;
	margin-bottom: 15px;
}

.b-books__head-right {
	line-height: 40px;
}

.b-breadcrumbs {
	padding: 5px 0;
}

.breadcrumbs__item {
	color: #000;
	font-size: 1.4em;
	text-decoration: none;
}
.breadcrumbs__item--white{
	color: #fff !important;
}
.breadcrumbs__item:last-child::after{
	display: none;
}
.breadcrumbs__item::after{
	content: '»';
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
}
.breadcrumbs__item:hover{
	text-decoration: underline;
}

.books__heading {
	color: #c72a3a;
}

.books__write-button {
	text-decoration: none;
	font-family: 'victoriana';
	display: inline-block;
	width: 220px;
	line-height: 30px;
	height: 65px;
	padding-top: 15px;
	font-size: 3em;
	color: #fff;
	text-align: center;
	background-image: url('../img/books__write.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
		-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.books__write-button:hover{
		-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.b-books__doll-list {
	width: 300px;
	padding-left: 15px;
}

.b-books__doll {
	background-image: url('../img/books__even.png');
	background-repeat: no-repeat;
	display: block;
	position: relative;
	background-position: center top;
	width: 260px;
	height: 90px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
		-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	       padding: 18px 20px;
	       z-index: 25;
}
.b-books__doll--active::after{
	content: '';
	display: block;
	position: absolute;
	right: -20px;
	width: 30px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url('../img/books__ribbon.png');
	top: 30%;	
}
.b-books__doll:hover{
			-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);
}
.b-books__doll:nth-child(2n+2){
	background-image: url('../img/books__odd.png');

}


.books__doll-img {
	float: left;
}

.books__doll-name {
	font-size: 2.5em;
	color: #fff;
	padding-left: 60px;
	line-height: 50px;
}

.b-books {
	width: 700px;
	padding-right: 20px;
}
.b-books--rating{
	width: 900px;
	padding: 0 50px;
}


.b-books__item {
	width: 220px;
	height: 325px;
	background-image: url('../img/books__item.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	text-align: center;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        padding-top: 100px;
}

.books__label {
	font-size: 3em;
	font-family: 'victoriana';
	color: #fff;
}

.books__author {
	font-size: 1.6em;
	color: #16d5f1;
	text-decoration: none;
	padding: 5px 0 15px 0;
	display: block;
}
.books__author:hover{
	text-decoration: underline;
}
.books__read-button {
	margin-top: 15px;
		text-decoration: none;
	font-family: 'victoriana';
	display: inline-block;
	width: 145px;
	height: 50px;
	padding-top: 12px;
	font-size: 2.4em;
	color: #fff;
	text-align: center;
	background-image: url('../img/books__read.png');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
		-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.books__read-button:hover{
		-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.b-pagination {
	position: relative;
	width: 100%;
	padding: 5px 10px;
}

.pagination__button {
	display: block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.pagination__button--left{
	left: -30px;
	background-image: url('../img/left.png');
}
.pagination__button--right{
	right: -30px;
	background-image: url('../img/right.png');
}
.pagination__button--left:hover{
	background-image: url('../img/left-hover.png');
}
.pagination__button--right:hover{
	background-image: url('../img/right-hover.png');
}

.b-pagination__list {
	font-family: 'victoriana';
	font-size: 3em;
	line-height: 50px;
}

.pagination__label {
}

.pagination__link {
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
	color: #000;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.pagination__link--current,.pagination__link:hover{
	color: #b82d54;
}
.b-books__write-ribbon{
	width: 450px;
	margin: 50px auto;
	height: 140px;
	background-image: url('../img/books__label.png');
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
}
.b-books__write-heading{
	font-size: 3em;
	color: #88116b;
	padding: 25px 0 5px;
}