.b-downloads-page{
	background-image: url('../img/downloads__bg.jpg');
}
.b-downloads {
	width: 880px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	background-image: url('../img/downloads__content.png');
	margin-top: -15px;
	margin-bottom: 30px;
	padding: 80px 140px 70px 90px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.downloads__heading{
	color: #fff;
	text-align: left;

}
.b-downloads__buttons {
	text-align: left;
}

.download__button {
	width: 135px;
	height: 50px;
	margin-right: 15px;
	color: #fff;
	font-size: 2.5em;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'victoriana';
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-image: url('../img/downloads__button.png');
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.download__button:hover{
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.download__button--active {
	background-image: url('../img/downloads__button--violet.png');
}

.b-downloads__wrap {
	width: 615px;
	height: 290px;
	overflow-x: scroll;
	position: relative;
	margin: 10px auto;
}
.b-downloads__wrap::-webkit-scrollbar {
    width: 15px;
    background-image: url('../img/x-scroll-base.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
    overflow: hidden;
    background-color: transparent;
}
 
/* Track */
.b-downloads__wrap::-webkit-scrollbar-track {
    background-color: transparent;
}
 
/* Handle */
.b-downloads__wrap::-webkit-scrollbar-thumb {
    background-image: url('../img/x-scroll-thumb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.b-downloads__wrap::-webkit-scrollbar-thumb:window-inactive {
	background-image: url('../img/x-scroll-thumb.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}
.downloads__list {
	width: 1600px;
}

.downloads__item {
	display: inline-block;
	float: left;
}

.downloads__image {
	width: 190px;
	height: 120px;
	margin-right: 30px;
	margin-bottom: 20px;
	position: relative;	
	overflow: hidden;
	cursor: pointer;
}
.downloads__image:nth-child(2n){
	margin-bottom: 0;
}
.downloads__image > img {
}

.b-downloads__sizes {
	position: absolute;
	left: 0;
	top: -120px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: rgba(255,255,255,.7);
	height: 120px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        padding-top: 25px;
	        padding-left: 5px;
	        padding-right: 5px;
}
.downloads__image:hover .b-downloads__sizes {
	top: 0;
}
.b-downloads__sizes > h2 {
}

.download__link {
	font-size: 1.6em;
	color: #000;
	text-decoration: none;
	font-family: 'victoriana';
	padding: 5px;
}
.download__link:hover{
	text-decoration: underline;
}