.b-grades{
	height: 515px;
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-image: url('../img/grades/1.jpg');
}
.b-grades__nav{
	float: left;
	position: relative;
	border-left: 2px solid #5a80bf;
	margin-right: 40px;
}
.b-grades__nav li{
	height: 100px;
	cursor: pointer;
	padding-left: 10px;
	line-height: 100px;
	position: relative;
	z-index: 5;
}
.b-grades__nav li img{
	vertical-align: middle;
}
.b-grades__nav .ribbon{
	width: 150px;
	height: 100px;
	position: absolute;
	top: 00px;
	left: -14px;
	background: url('../img/ribbon.png') no-repeat;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-grades__content li{
	display: none;
	width: 500px;
}