.b-hero{
	padding-top: 20px;
	height: 600px;
	background: url('../img/hero.png') 20% 100% no-repeat;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.b-hero > h2{
	width: 670px;
}
.hero__tag{
	width: 160px;
	position: absolute;
}
.hero__tag[data-tag="1"]{
	left: 380px;
	top: 140px;
}
.hero__tag[data-tag="2"]{
	left: 128px;
	top: 155px;
}
.hero__tag[data-tag="3"]{
	left: 47px;
	top: 283px;
}
.hero__tag[data-tag="4"]{
	left: 41px;
	top: 452px;
}
.b-hero form{
	width: 245px;
	float: right;
}
.b-hero form > h2{
	margin-bottom: 20px;
}