.b-slider{
	height: 740px;
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
	transition: all 0.3s; 
}
.b-slider__wrap{
	width: 100%;
	overflow: hidden;
}
.b-cars{
	position: relative;
}
.b-slider li{
	float: left;
	display: inline-block;
	height: 740px;
	-webkit-background-size: cover;
	background-size: cover;
}
.b-description__list{
	overflow: hidden;
	width: 100%;
	position: absolute;
	height: 220px;
	bottom: 0;
	padding: 0 15px;
}
.b-description__list li{
	position: absolute;
	display: none;
	color: #fff;
}
.b-description__list li:last-child{
	color: #000;
	width: 54%;
}
.b-description{
	position: absolute;
	height: 400px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        bottom: 0;
	        width: 100%;
}
.b-description > section{
	height: 400px;
}
.b-slider__control{
	bottom: 50px;
	position: absolute;
	width: 100%;
	padding: 0 15px;
}
.b-slider__control li{
	border: 1.5px solid #fff;
	cursor: pointer;
	height: 55px;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.b-slider__control .active{
	border-color: #5a80bf;
}